<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
    <img src="assets/img/banner-ico.png" width="30" height="30" alt="" />
    Películas GoDigital
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="ultimaspeliculas">Últimas Películas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="mejorcalificadas">Mejor Calificadas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="maspopulares">Más Populares</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="search">Buscar</a>
      </li>
    </ul>
  </div>
</nav>